<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Cadastro - Indústrias Wayne</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
  <div class="container">
    <div class="cabecalho">
        <a>Voltar</a>
        <img src="{{ url_for('static', filename='wayne-logo.png') }}" alt="Wayne Industries" class="logo">
        <a href="/logout">Logout</a>
    </div>
    <h1>Início</h1>
    <h3 style="margin: 10px 10px;">BemVindo <b>{{session.user.upper()}}</b></h3>
    <div class="form-selector">
      <button id="cadastro-btn" class="btn">Cadastro</button>
      <button id="editar-btn" class="btn">Editar</button>
      <button id="gerenciamento-btn" class="btn">Gerenciamento</button>
    </div>
  </div>
  <script src="{{ url_for('static', filename='js.js') }}"></script>
</body>
</html>
